body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(230, 86, 86);
}

.yellow{
    background-color: rgb(232, 232, 102);
}

.green{
    background-color: rgb(82, 192, 82);
}

.blue{
    background-color: rgb(91, 91, 207);
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}